[Unit]
Description=wetty service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/wetty -p 4200 --base=/

[Install]
WantedBy=multi-user.target